venv
/venv
./venv

.env
/.env
./.env

data
/data
./data

image.png
/image.png
./image.png

alittledaisy.pem
/alittledaisy.pem
./alittledaisy.pem

models
/models
./models

LightGBM
/LightGBM
./LightGBM

note.txt
/note.txt
./note.txt